html
head
	title Your account
body
	if ( loggedIn == true )
		if ( error != null )
			p Error while fetching your account: #{error}
		else
			if authorizedApps
				p Here's your account mate, there are following authorized apps:
				ul
					each app in authorizedApps
						li #{app.name} 
							a(href="/oauth2/deauth?client_id=#{app.client_id}") Remove access
			else
				p Here's your account mate. You don't have any apps authorized yet.
			p
				a(href="/oauth2/logout") Logout
	else
		p You're not signed in.