html
head
	title Login
body
	form(action='/oauth2/do-login', method='post')
		if ( error != null )
			p There was an error: #{error}
		if ( sessionCode != null )
			input(type='hidden', name='ses', value='#{sessionCode}')
		p Username:
			input(type='text', name='username')
		p Password:
			input(type='password', name='password')
		input(type='submit', value='Login')