html
head
	title OAuth2 test app
body
	a(href="http://localhost:3000/oauth2/auth?response_type=code&client_id=O0-rdIQGiKqihdwE9-DqudbWY&redirect_uri=#{encodedUrl}&scope=read edit new account") do a test